<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <% name = "Joe" %>
        <h1>Goodbye <%=name%></h1>
        <h2>Index</h2>
        <p>Index </p>
        <%= "Index" %>
    </body>
</html>